<!-- app-header.component.html -->
<header>
  <nav>
    <ul>
      <li>
        <a
          href
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          href
          routerLink="/binding"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Bindings Demo</a
        >
      </li>
      <li>
        <a
          href
          routerLink="/directive"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Directives Demo</a
        >
      </li>
      <li>
        <a
          href
          routerLink="/communication"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Component Communication</a
        >
      </li>
      <li>
        <a
          href
          routerLink="/timer"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Timer Demo</a
        >
      </li>
      <!-- Add more navigation links based on your route configuration -->
    </ul>
  </nav>
</header>
