<div class="mt-4">
  <h4>Filter By</h4>
  <div class="row">
    <div class="col col-md-3">
      <button class="btn btn-primary" (click)="filterFood('fruit')">
        Fruit
      </button>
    </div>
    <div class="col col-md-3">
      <button class="btn btn-success" (click)="filterFood('vegetable')">
        Vegetables
      </button>
    </div>
    <div class="col col-md-3">
      <button class="btn btn-warning" (click)="filterFood('herb')">
        Herbs
      </button>
    </div>
    <div class="col col-md-3">
      <button class="btn btn-secondary" (click)="filterFood('')">Reset</button>
    </div>
  </div>
</div>
